# --- Node.js related ---
/node_modules
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Python related ---
/venv/
myenv/
__pycache__/
*.py[cod]
*.log

# --- Testing ---
/coverage

# --- Production ---
/build

# --- Environment Files ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- OS / Editor junk ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Other possible ---
dist/
*.swp
